body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #2720eb;
}

header {
    background-color: rgb(51, 51, 51);
    color: white;
    text-align: center;
    padding: 1em;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
}

.car {
    text-align: center;
    max-width: 100%;
    margin: 1em;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#booking-form {
    max-width: 100%;
    margin: 2em auto;
    padding: 1em;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.hidden {
    display: none;
}

#splash-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3498db; /* Warna latar belakang splash screen */
    color: #fff; /* Warna teks splash screen */
}

#splash-screen img {
    width: 100px; /* Ukuran ikon splash screen */
    height: 100px;
}

.car-container {
    display: inline-block;
    width: 100%; /* Set lebar container */
    margin: 1%;
    text-align: center;
}

/* Tambahkan gaya untuk artikel mobil */
.car-article {
    margin-bottom: 20px;
}
